<div class="flex justify-center items-center h-full w-full">
    <div class="banter-loader h-full w-full">
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
        <div class="banter-loader__box bg-slate-400 dark:bg-slate-100"></div>
    </div>
</div>