<div class="flex items-center justify-center my-16">
    <div class="bg-zinc-800 w-max p-2 mx-6 rounded-2xl">
        <div class="flex flex-wrap justify-center flex-col md:flex-row rounded-l-xl">
            <img src="../../../assets/images/newsletter/Newsletter.png" alt=""
                class="object-contain sm:object-fit rounded-xl h-80 grayscale md:h-72 md:rounded-xl hover:shadow-lg duration-200" />
            <div class="p-6 md:p-12">
                <h2 class="font-mono text-xl font-medium text-center text-white md:text-left">
                    Get product sales and updates right in your inbox !
                </h2>

                <p class="max-w-lg my-4 text-xs leading-5 tracking-wide text-center text-white md:text-left">
                    Want the latest deals, fresh arrivals, and exclusive offers? Join our community! Sign up for our
                    newsletter and get 10% off your first order! Be the first to know about special discounts and new
                    products, plus tips and trends delivered right to your inbox."
                </p>

                <div class="flex flex-col mt-5 space-y-4 md:space-x-3 md:flex-row md:space-y-0">
                    <input type="text" placeholder="Enter your email address"
                        class="p-2 px-4 text-center text-white bg-zinc-800 border border-zinc-600 placeholder:text-xs placeholder:text-center md:text-left placeholder:md:text-left focus:outline-none" />

                    <button
                        class="px-5 py-3 text-xs rounded-md text-zinc-800 bg-blue-200 hover:bg-blue-300 hover:shadow-lg hover:-translate-y-0.5 duration-500 font-semibold">
                        Subcribe
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>