<div class="w-screen">
    <div class="p-8 sm:px-16 sm:pt-16 sm:pb-32">
        <div class="flex flex-col justify-center items-center space-y-2">
            <h1 class="text-center font-serid font-bold text-slate-500 text-5xl font-mono">Featured Products</h1>
            <p class="text-slate-600 text-2xl font-semibold">Get the right products at right price.</p>

        </div>
        <div class="mt-12 w-full">
            <div class="w-full items-center justify-center grid gap-y-12 gap-x-8 font-mono lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1">
                <app-featured-product></app-featured-product>
                <app-featured-product></app-featured-product>
                <app-featured-product></app-featured-product>
                <app-featured-product></app-featured-product>
            </div>
        </div>
    </div>
</div>