<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-12">
    <div action="#" class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div class="mx-auto max-w-3xl">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Order summary</h2>

            <div class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 dark:border-gray-700 sm:mt-8">
                <h4 class="text-lg font-semibold text-gray-900 dark:text-white">Billing & Delivery information</h4>

                <dl>
                    <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">{{orderData.name}}</dd>
                    <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">{{orderData.email}} , {{orderData.phoneNumber}}</dd>
                    <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">{{orderData.addressLine1}}</dd>
                    <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" *ngIf="orderData.addressLine2">{{orderData.addressLine2}}</dd>
                    <dd class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">{{orderData.city}} , {{orderData.country}}</dd>
                </dl>
            </div>

            <div class="mt-6 sm:mt-8">
                <div class="relative overflow-x-auto border-b border-gray-200 dark:border-gray-800">
                    <table class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed">
                        <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
                            <tr *ngFor="let item of cartItems">
                                <td class="whitespace-nowrap py-4 md:w-[384px]">
                                    <div class="flex items-center gap-4">
                                        <a href="#" class="flex items-center aspect-square w-10 h-10 shrink-0">
                                            <img class="h-auto w-full max-h-full object-contain"
                                                [src]="item.product.product_photo"
                                                alt="imac image" />
                                        </a>
                                        <div class="text-wrap">{{getProductName(item)}}</div>
                                    </div>
                                </td>

                                <td class="p-4 text-base font-normal text-gray-900 dark:text-white">x{{item.quantity}}</td>

                                <td class="p-4 text-right text-base font-bold text-gray-900 dark:text-white">${{getProductTotalPrice(item) | number:'1.2-2'}}</td>
                            </tr>

                            
                        </tbody>
                    </table>
                </div>

                <div class="mt-12 space-y-6">
                    <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</h4>

                    <div class="space-y-4">
                        <div class="space-y-2">
                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-gray-500 dark:text-gray-400">Original price</dt>
                                <dd class="text-base font-medium text-gray-900 dark:text-white line-through">${{orderData.originalPrice | number:'1.2-2'}}</dd>
                            </dl>

                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-gray-500 dark:text-gray-400">Savings</dt>
                                <dd class="text-base font-medium text-green-500">-${{orderData.savings | number:'1.2-2'}}</dd>
                            </dl>

                            <dl class="flex items-center justify-between gap-4">
                                <dt class="text-gray-500 dark:text-gray-400">Tax</dt>
                                <dd class="text-base font-medium text-red-600">+${{orderData.tax | number:'1.2-2'}}</dd>
                            </dl>
                        </div>

                        <dl
                            class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                            <dt class="text-lg font-bold text-gray-900 dark:text-white">Total</dt>
                            <dd class="text-lg font-bold text-gray-900 dark:text-white">${{orderData.totalPrice | number:'1.2-2'}}</dd>
                        </dl>
                    </div>

                    <div class="gap-4 sm:flex sm:items-center pt-4">
                        <button type="button" (click)="clear()"
                            class="mt-4 flex w-full items-center justify-center rounded-lg bg-blue-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 sm:mt-0">Return To Shopping</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>